@font-face {
  font-family: "heading-font";
  src: url(../assets/fonts/couture-bld.otf);
}

@font-face {
  font-family: "body-font";
  src: url(../assets/fonts/SanFranciscoRegular.ttf);
}

body {
  font-family: "body-font";
}

h1, h2, h3, h4, h5 {
  font-family: "heading-font";
  text-transform: uppercase;
}

.custom-card {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.custom-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-navbar {
  background-color: rgb(53, 84, 133);
}

.h-xl {
  height: 400px;
}

/* SM */
@media (min-width: 640px) {
  .photo-stretch {
    height: calc(400px + 0.5rem + 0.5rem);
  }
  .h-xl {
    height: 400px;
  }
}

/* MD */
@media (min-width: 768px) {
  .photo-stretch {
    height: calc(800px + 0.5rem + 0.5rem + 0.5rem + 0.5rem + 0.5rem + 0.5rem);
  }
  .h-xl {
    height: 200px;
  }
}

/* LG */
@media (min-width: 1024px) {
  .photo-stretch {
    height: calc(800px + 0.5rem + 0.5rem);
  }
  .h-xl {
    height: 400px;
  }
}
