@font-face {
  font-family: "heading-font";
  src: url(../assets/fonts/SanFranciscoHeavy.ttf);
}

@font-face {
  font-family: "heading-font2";
  src: url(../assets/fonts/SanFranciscoMedium.ttf);
}

@font-face {
  font-family: "body-font";
  src: url(../assets/fonts/Roboto-Thin.ttf);
}

body {
  font-family: "body-font";
  line-height: 110%;
}

h1, h2, h3, h4, h5 {
  font-family: "heading-font";
  line-height: 100%;
}

.custom-aboutme {
  font-family: "heading-font2"
}

.custom-card {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

bg-project-1, bg-project-2, bg-project-3, bg-project-4, bg-project-5, bg-project-6, bg-project-7 {
  background-position: 50% 50% !important;
  background-size: contain !important;
}

.bg-project-1 {
  background-image: url(../img/project1.jpg);
}

.bg-project-2 {
  background-image: url(../img/project2.jpg);
}

.bg-project-3 {
  background-image: url(../img/project3.jpg);
}

.bg-project-4 {
  background-image: url(../img/project4.jpg);
}

.bg-project-5 {
  background-image: url(../img/project5.jpg);
}

.bg-project-6 {
  background-image: url(../img/project6.jpg);
}

.bg-project-7 {
  background-image: url(../img/project7.jpg);
}

.custom-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-background {
  background-color: rgb(30, 32, 34);
}

.custom-navbar {
  background-color: rgb(17, 19, 20);
}

.h-xl {
  height: 400px;
}

/* SM */
@media (min-width: 640px) {
  .photo-stretch {
    height: calc(400px + 0.5rem + 0.5rem);
  }

  .h-xl {
    height: 400px;
  }
}

/* MD */
@media (min-width: 768px) {
  .photo-stretch {
    height: calc(800px + 0.5rem + 0.5rem + 0.5rem + 0.5rem + 0.5rem + 0.5rem);
  }

  .h-xl {
    height: 200px;
  }
}

/* LG */
@media (min-width: 1024px) {
  .photo-stretch {
    height: calc(800px + 0.5rem + 0.5rem);
  }

  .h-xl {
    height: 400px;
  }
}
